*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed ;
    background-image: url(imagens/fundo-madeira.jpg);
}
#cel{
    height: 630px;
    width: 315px;
    margin: 100px auto;
}
#cel > iframe{
    margin-top: 80px;
    margin-left: 22px;
    position: absolute;
}
.icone{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
}
#home{
    margin-left: -183px;
    margin-top: 555px;
    width: 55px;
    height: 55px;
}